.hero-art-portfolio {
	width:100%;
	max-width:rem(1600);
	padding:0 0 36.5% !important;
	margin:0 auto;
	background-image:url('<$mt:BlogURL$>siteart/pl_hero_<$mt:Var name="hero_art"$>.jpg');
	background-attachment:fixed;
	background-size:100% auto;
	background-position:center top;
	background-repeat:no-repeat;
	position:relative;
	overflow:hidden;
	&:before {
			display:block;
			content:' ' ;
			height:51px;
			width:100%;
			position: absolute;
			bottom: 0; 
			overflow:hidden;
			background-image:url('<$mt:BlogURL$>/siteart/curve.svg');
			background-size:100% rem(50);
			background-position:center bottom;
			background-repeat:no-repeat;
			bottom:0;
		}	
	@media screen and (max-width:em(600)) {
		&:before {background-size:100% rem(40);};
		}
	@media screen and (max-width:rem(850)) {
		background-position:center top;
		}
	@media screen and (max-width:rem(750)) {
		background-image:url('<$mt:BlogURL$>siteart/pl_hero_small_<$mt:Var name="hero_art"$>.jpg');
		height:rem(300);
		background-size:auto rem(300);
		background-position:center top;	
		}			
}
.hero-art-portfolio-overlay {
	width:100%;
	max-width:rem(1600);
	padding:0 0 37% !important;
	margin:0 auto;
	position:absolute;
	top:0;
	overflow:hidden;
	&:before {
			display:block;
			content:' ' ;
			height:51px;
			width:100%;
			position: absolute;
			bottom: 0; 
			overflow:hidden;
			background-image:url('<$mt:BlogURL$>/siteart/curve.svg');
			background-size:100% rem(50);
			background-position:center bottom;
			background-repeat:no-repeat;
			bottom:0;
		}	
	@media screen and (max-width:em(600)) {
		&:before {background-size:100% rem(40);};
		}	
	@media screen and (max-width:em(600)) {
		&:before {background-size:100% rem(40);};
		}
	@media screen and (max-width:rem(750)) {
		height:rem(300);
		}			
}
.hero-art-portfolio-special {
	padding:0 0 42% !important;
	background-position:center rem(80);
	@media screen and (max-width:rem(850)) {
		background-position:center rem(50);	
		}
	@media screen and (max-width:rem(750)) {
		background-image:url('<$mt:BlogURL$>siteart/pl_hero_small_<$mt:Var name="hero_art"$>.jpg');
		height:rem(300);
		background-size:auto rem(300);
		background-position:center rem(40);	
		}		
}	
.hero-art-portfolio-overlay-special {
	padding:0 0 42% !important;
}
.portfolio-introduction-container {
	width:100%;
	margin:rem(40) auto 0;
	padding:0 rem(40);
	@media screen and (max-width:rem(650)) {
		padding:0 rem(20);
		margin:rem(30) auto 0;
		}
	@media screen and (max-width:rem(500)) {
		padding:0 rem(10);
		margin:rem(20) auto 0;
		}			
}		