<div class="resume_container">
<section class="resume-section clearfix">
<h2 class="section-header-index">This is me</h2>
<mt:entries category="about/subcategory">
<ul class="resume-details">
<li>
	<article class="resume-information">
		<figure class="resume-mugshot">
			<img src="../siteart/about_mugshot.jpg" alt="David M. Putney mugshot">
		</figure>
	<mt:entrybody>
	</article>	
</li>
</mt:entries>
</ul>
</section>
<section class="resume-section clearfix">
<h2 class="section-header-index">This is my site</h2>
<mt:entries category="about/subcategorytoo">
<ul class="resume-details">
<li>
		<article class="resume-information">
		<mt:entrybody>
		</article>	
	</li>
</mt:entries>
</ul>
</section>
</div> 